header {
    font-family: 'Orbitron', sans-serif;
    font-size: 72px;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin: 25px;
}

body {
    background-image: url("../images/sprinkles.jpg");
    background-attachment: fixed;
    background-position: 0;
}

#start {
    margin: 50px;
}
.question {
    font-size: 24px;
    color: rgb(137, 178, 255);
    background-color: rgb(224, 146, 243);
    font-family: 'Space Mono', monospace;
    text-align: center;
    padding: 20px;
}